# The directory Mix will write compiled artifacts to.
server/_build/

# If you run "mix test --cover", coverage assets end up here.
server/cover/

# The directory Mix downloads your dependencies sources to.
server/deps/

# Where third-party dependencies like ExDoc output generated docs.
server/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
server/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
metex-*.tar

# Temporary files, for example, from tests.
server/tmp/

server/rel/

# Zig specific
#
client/.zig-cache/
client/zig-out/
client/release/
client/debug/
client/build/
client/build-*/
client/docgen_tmp/

# Although this was renamed to .zig-cache, let's leave it here for a few
# releases to make it less annoying to work with multiple branches.
client/zig-cache/
